$navbar-default-bg: #9b111E;

@import "bootstrap-sprockets";
@import "bootstrap";



#logo {
  float: left;
  font-size: 1 em;
  color: #ffffff;
}


.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('rubybg.jpg');
  background-size: cover;
  height: 900px;

}

.jumbotron h1 {
  color: #9b111E;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
}

footer {
  margin-top: 25px;
  padding-top: 1px;
  border-top: 1px solid #efefef;
  color: #880000;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

